name: Build Fixed APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # هاد الكود قديم، غنجربوا Java 8 بلاصة 11 حيت غالباً هو اللي كيبغي
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # غنستعملوا هاد الكود باش نتجاوزوا مشاكل الـ Lint والـ قديم
      - name: Build Debug APK
        run: ./gradlew assembleDebug -x lint -x test

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: MixUp-Fixed-App
          path: app/build/outputs/apk/debug/*.apk
